<div>
    <h2 data-translate="armadilloMonitorApp.instance.home.title">Instances</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="instance.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="armadilloMonitorApp.instance.home.createLabel">
                        Create new Instance
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="armadilloMonitorApp.instance.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="managementUrl"><span data-translate="armadilloMonitorApp.instance.managementUrl">Management Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="healthUrl"><span data-translate="armadilloMonitorApp.instance.healthUrl">Health Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serviceUrl"><span data-translate="armadilloMonitorApp.instance.serviceUrl">Service Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="metadata"><span data-translate="armadilloMonitorApp.instance.metadata">Metadata</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instance in vm.instances track by instance.id">
                    <td><a ui-sref="instance-detail({id:instance.id})">{{instance.id}}</a></td>
                    <td>{{instance.name}}</td>
                    <td>{{instance.managementUrl}}</td>
                    <td>{{instance.healthUrl}}</td>
                    <td>{{instance.serviceUrl}}</td>
                    <td>{{instance.metadata}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="instance-detail({id:instance.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance.edit({id:instance.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="instance.delete({id:instance.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
