<table class="table table-striped">
    <thead>
    <tr>
        <th class="col-md-7">Armadillo Name</th>
        <th class="col-md-2 text-center">Status</th>
        <th class="col-md-2 text-center">Details</th>
        <th class="col-md-2 text-center">Instances</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="application in applications track by application.id">
        <td>{{application.name}}</td>
        <td class="text-center">
            <!--<armadillo-healths id-armadillo="application.id">-->
            <!--</armadillo-healths>-->
        </td>
        <td class="text-center">
            <a class="hand" ng-click="vm.showHealth(health)"
               ng-show="health.details || health.error">
                <i class="glyphicon glyphicon-eye-open"></i>
            </a>
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>
